/* HEADER */
header {
  text-align: center;
  margin: auto;
  width: 40%;
}

.title,
.subtitle {
  text-align: center;
  color: #d90429;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 0;
  margin-top: 0;
}

/* BODY */

body {
  background-color: #edf2f4;
  font-family: 'Nunito', sans-serif;
  color: #2b2d42;
  font-size: 4vh;
}

.master-container
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border: solid rgb(66, 28, 28) 1px;
  background-color: rgb(207, 196, 196);
  border-radius: 10px;
}

p
{
  font-size: 2vh;
}

/* Buttons */
.submit {
  width: fit-content;
  border-radius: 10px;
  background-color: #d90429;
  color: #edf2f4;
  font-size: 3vh;
}

.special-button {
  background: #ef233c;
  border-radius: 11px;
  padding: 20px 45px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 3vh "Open Sans", sans-serif;
  text-align: center;
}


/* TABLE */

.shifts {
  text-align: center;
  margin: auto;
  border-collapse: collapse;
  width: 95%;
  font-size: 23px;
}

.shifts td,
.shifts th {
  border: 1px solid #2D3A3A;
  padding: 8px;
}

.shifts tr:nth-child(even) {
  background-color: #f2f2f2;
}

.shifts tr:hover {
  background-color: #ddd;
}

.shifts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-size: 30px;
  background-color: #d90429;
  color: white;
}

/* Base stlying for table from W3schools */

.form {
  text-align: center;
  margin: auto;
}

.dropdownMenu,
.input-text {
  font-size: 23px;
  padding: 10px;
}