<!DOCTYPE html>
<html>

<head>
    <title>
        Add Shift
    </title>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="master-container">
        <div class="header">
            <h1 class="title">GlassMasters</h1>
            <h3 class="subtitle">Edit Schedule - Add</h3>
        </div>
        <div class='form'>
            <form method="post">
                <input autocomplete="off" name="date" placeholder="00-Mth" type="text" class="input-text">
                <p>
                    <input autocomplete="off" name="staff" placeholder="Staff Member" type="text" class="input-text">
                    <input autocomplete="off" name="time" placeholder="Time stamp" type="text" class="input-text">
                </p>
                <p style="margin-bottom: 0px;">Note the day must have a 0 in front of the single digit numbers</p>
                <p style="margin-top: 0px;">Please use the shorthand notation for the month</p>
                <input class="special-button" value="Enter" type="submit" name="submit">
            </form>
        </div>
    </div>
</body>