<!DOCTYPE html>
<html>

<head>
    <title>
        Calendar
    </title>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <h1 class="title">GlassMasters</h1>
        <h3 class="subtitle">Online Calendar</h3>
    </div>

    <table class="shifts">
        <tr>{{ tableInfoHead }}</tr>

        {{ tableInfoBody }}

    </table>
    <form method="post" class="form" style="padding-top: 15px;">
        <input type="submit" value="Add" name="addDate" class='special-button'>
        <input type="submit" value="Remove" name="removeData" class='special-button'>
        <input type="submit" value="/\" name="traverseCalendarF" class='special-button'>
        <input type="submit" value="\/" name="traverseCalendarB" class='special-button'>
    </form>
</body>

</html>
