<!DOCTYPE html>
<html>

<head>
    <title>
        Log-in
    </title>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="master-container">
        <div class="header">
            <h1 class="title">GlassMasters</h1>
            <h3 class="subtitle">Online Scheduling Portal</h3>
        </div>
        <div class="form">
            <form method="post">
                <p><input autocomplete="off" name="user" placeholder="username" type="text"></p>
                <p><input autocomplete="off" name="pass" placeholder="password" type="password"></p>
                <p><input class="submit" type="submit" name="submit"></p>
            </form>
        </div>
    </div>
</body>